<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=students;Integrated security=true"
        providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp1.Properties.Settings.studentsConnectionString"
        connectionString="Data Source=LAPTOP-MRDES9C6\SQLEXPRESS;Initial Catalog=students;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>